.container{
margin-top: 50px;
justify-content: center;

}
.line{

border-bottom: 2px solid;
}
.a{
color: green;
display:inline;
}
.tamano{
max-width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
