.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;


}

.example-full-width {
  width: 100%;
  background-color: #4d4d4d;
}

.box{
display:flex;
justify-content: center;
}
.center1{

    text-align: center;
    margin-top: 10px;
    margin-right: 7%;;
}


